<form name="vForm" novalidate ng-submit="fCtrl.updateForm(vForm)">
    <md-toolbar md-scroll-shrink style="position: fixed; right: 0;"
                class="md-hue-3">
        <div class="md-toolbar-tools">
            <md-button hide-xs ui-sref="catalog"
                       class="md-raised" aria-label="specail form">
                <md-icon class="material-icons">keyboard_backspace</md-icon>
                <span hide-gt-xs>Назад</span>
                <span hide-xs>Вернутья к каталогу книг</span>
            </md-button>

            <md-button hide-gt-xs ui-sref="catalog"
                       class="small-round-bottom" aria-label="2">
                <md-icon class="material-icons">keyboard_backspace</md-icon>
            </md-button>


            <span flex></span>
            <h3><span  flex class="toolbar">Длинная форма</span></h3>
            <span flex></span>
            <md-button hide-xs ng-click="fCtrl.activeTab = 0"
                       class="md-raised" aria-label="specail form">
                Таб 1
            </md-button>
            <md-button hide-gt-xs ng-click="fCtrl.activeTab = 0"
                       class="small-round-bottom" aria-label="1">
                1
            </md-button>
            <md-button hide-xs ng-click="fCtrl.activeTab = 1"
                       class="md-raised" aria-label="specail form">
                Таб 2
            </md-button>
            <md-button hide-gt-xs ng-click="fCtrl.activeTab = 1"
                       class="small-round-bottom" aria-label="2">
                2
            </md-button>
            <md-button hide-xs  type="submit"
                       class="md-raised" aria-label="specail form">
                Сохранить
                <md-icon class="material-icons">save</md-icon>
            </md-button>
            <md-button hide-gt-xs type="submit"
                       class="small-round-bottom" aria-label="2">
                <md-icon class="material-icons">save</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <br/><br/><br/><br/><br/>
    <md-tabs md-selected="fCtrl.activeTab" md-dynamic-height md-border-bottom>
        <md-tab name="tab1" flex label="Первый таб ">
            <md-input-container class="md-block">
                <label>Строка 1 </label>
                <input md-maxlength="20" required
                       name="string11"
                       indexOfTab="0" ng-model="fCtrl.data.t1.string1"/>
                <div ng-messages="vForm.string11.$error">
                    <div ng-message="required">Поле Строка1 обязательна</div>
                    <div ng-message="md-maxlength">Строка1 должна содержать не более 20 символов</div>
                </div>
            </md-input-container>


            <div class="md-subhead">
                <h2>Лицензионное соглашение на использование программы «Punto Switcher»</h2>

                Обращаем Ваше внимание, что настоящее Лицензионное соглашение с 14.10.2013 г. утратило силу и было
                заменено Лицензионным соглашением на использование настольного программного обеспечения Яндекса,
                актуальная версия которого доступна по адресу: https://yandex.ru/legal/desktop_software_agreement/. Все
                ссылки на настоящее Лицензионное соглашение просим считать ссылками на Лицензионное соглашение на
                использование настольного программного обеспечения Яндекса.

                Перед использованием программы, пожалуйста, ознакомьтесь с условиями нижеследующего лицензионного
                соглашения. Любое использование вами программы означает полное и безоговорочное принятие вами его
                условий.

                Если вы не принимаете условия лицензионного соглашения в полном объеме, вы не имеете права использовать
                программу в каких-либо целях.

                <h3>1. Общие положения</h3>
                1.1. Настоящее Лицензионное соглашение («Лицензия») устанавливает условия использования программы для
                ЭВМ «Punto Switcher» («Программа») и заключено между любым лицом, использующим Программу
                («Пользователь»), и ООО «ЯНДЕКС», Россия, 119021, г. Москва, ул. Льва Толстого, д. 16., являющимся
                правообладателем исключительного права на Программу («Правообладатель»).

                1.2. Копируя Программу, устанавливая её на свой персональный компьютер или используя Программу любым
                образом, Пользователь выражает своё полное и безоговорочное согласие со всеми условиями Лицензии.

                1.3. Использование Программы разрешается только на условиях настоящей Лицензии. Если Пользователь не
                принимает условия Лицензии в полном объеме, Пользователь не имеет права использовать Программу в
                каких-либо целях. Использование Программы с нарушением (невыполнением) какого-либо из условий Лицензии
                запрещено.

                1.4. Использование Программы на условиях настоящей Лицензии в личных некоммерческих целях осуществляется
                безвозмездно. Использование Программы на условиях и способами, не предусмотренными настоящей Лицензией,
                возможно только на основании отдельного соглашения с Правообладателем.

                1.5. К настоящей Лицензии и всем отношениям, связанным с использованием Программы, подлежит применению
                право Российской Федерации и любые претензии или иски, вытекающие из настоящей Лицензии или
                использования Программы, должны быть поданы и рассмотрены в суде по месту нахождения Правообладателя.

                1.6. Правообладатель может предоставить Пользователю перевод настоящей Лицензии с русского на другие
                языки, однако в случае противоречия между условиями Лицензии на русском языке и ее переводом,
                юридическую силу имеет исключительно русскоязычная версия Лицензии.
            </div>

            <md-input-container>
                <label>Дата 1</label>
                <md-datepicker indexOfTab="0" ng-model="fCtrl.data.t1.date1"
                               required

                               name="date1"
                               md-min-date="fCtrl.minDate"
                               md-max-date="fCtrl.maxDate">
                </md-datepicker>

                <div ng-messages="vForm.date1.$error">
                    <div ng-message="valid">Не верный формат даты</div>
                    <div ng-message="required">Поле Дата1 необходимо ввести</div>
                    <div ng-message="mindate">Дата не должна бытть меньше {{fCtrl.minDate | date :
                        "dd.MM.YYYY"}}
                    </div>
                    <div ng-message="maxdate">Дата не должна быть больше {{fCtrl.maxDate | date :
                        "dd.MM.YYYY"}
                    </div>
                </div>
            </md-input-container>
            <div class="md-subhead">
                <h3>2. Права на Программу</h3>

                2.1. Исключительное право на Программу принадлежит Правообладателю.

                3. Лицензия

                3.1. Правообладатель безвозмездно, на условиях простой (неисключительной) лицензии, предоставляет
                Пользователю непередаваемое право использования Программы на территории стран всего мира следующими
                способами:

                3.1.1. Применять Программу по прямому функциональному назначению, в целях чего произвести её копирование
                и установку (воспроизведение) на персональном(-ых) компьютере(-ах) Пользователя. Пользователь вправе
                произвести установку Программы на неограниченное число персональных компьютеров. При установке на
                персональный компьютер каждой копии Программы присваивается индивидуальный номер, который автоматически
                сообщается Правообладателю.

                3.1.2. Воспроизводить и распространять Программу в некоммерческих целях (безвозмездно).

                <h3>4. Ограничения</h3>

                4.1. За исключением использования в объемах и способами, прямо предусмотренными настоящей Лицензией или
                законодательством РФ, Пользователь не имеет права изменять, декомпилировать, дизассемблировать,
                дешифровать и производить иные действия с объектным кодом Программы, имеющие целью получение информации
                о реализации алгоритмов, используемых в Программе, создавать производные произведения с использованием
                Программы, а также осуществлять (разрешать осуществлять) иное использование Программы или любых
                компонентов Программы, без письменного согласия Правообладателя.

                4.2. Пользователь не имеет права воспроизводить и распространять Программу в коммерческих целях (в том
                числе за плату), в том числе в составе сборников программных продуктов, без письменного согласия
                Правообладателя.

                4.3. Программа должна использоваться под наименованием: «Punto Switcher». Пользователь не вправе
                изменять наименование Программы, изменять и/или удалять знак охраны авторского права (copyright notice)
                или иное указание на Правообладателя.
            </div>

            <md-input-container class="md-block">
                <label>Строка 2 </label>
                <input md-maxlength="20"
                       required
                       name="string12"
                       indexOfTab="0" ng-model="fCtrl.data.t1.string2"/>
                <div ng-messages="vForm.string12.$error">
                    <div ng-message="required">Поле Строка2 обязательна</div>
                    <div ng-message="md-maxlength">Строка2 должна содержать не более 20 символов</div>
                </div>
            </md-input-container>
            <div>
                <h3>5. Ограничение ответственности по Лицензии</h3>

                5.1. Программа предоставляется на условиях «как есть» (as is). Правообладатель не предоставляет никаких
                гарантий в отношении безошибочной и бесперебойной работы Программы, соответствия Программы конкретным
                целям и ожиданиям Пользователя, а также не предоставляет никаких иных гарантий, прямо не указанных в
                настоящей Лицензии.

                5.2. В максимальной степени, допустимой действующим законодательством, Правообладатель не несет никакой
                ответственности за какие-либо прямые или косвенные последствия какого-либо использования или
                невозможности использования Программы и/или ущерб, причиненный Пользователю и/или третьим сторонам в
                результате какого-либо использования, неиспользования или невозможности использования Программы или
                отдельных её компонентов и/или функций, в том числе из-за возможных ошибок или сбоев в работе Программы.

                5.3. Пользователь настоящим уведомлен и соглашается, что при использовании Программы Правообладателю в
                автоматическом режиме анонимно (без привязки к Пользователю) передается следующая информация: тип
                операционной системы компьютера Пользователя, версия и идентификатор Программы, статистика использования
                функций Программы, а также иная техническая информация.

            </div>

            <md-input-container>
                <label>Дата 2</label>
                <md-datepicker indexOfTab="0" ng-model="fCtrl.data.t1.date2"
                               name="date12"
                               ng-required="true"
                               md-min-date="fCtrl.minDate"
                               md-max-date="fCtrl.maxDate">
                </md-datepicker>

                <div ng-messages="vForm.date12.$error">
                    <div ng-message="valid">Не верный формат даты</div>
                    <div ng-message="required">Поле Дата2 необходимо ввести</div>
                    <div ng-message="mindate">Дата не должна бытть меньше {{fCtrl.minDate | date :"dd.MM.YYYY"}}
                    </div>
                    <div ng-message="maxdate">Дата не должна быть больше {{fCtrl.maxDate | date : "dd.MM.YYYY"}}
                    </div>
                </div>
            </md-input-container>
            <div>
                <h3> 6. Обновления/новые версии Программы</h3>

                6.1. Действие настоящей Лицензии распространяется на все последующие обновления/новые версии Программы.
                Соглашаясь с установкой обновления/новой версии Программы, Пользователь принимает условия настоящей
                Лицензии для соответствующих обновлений/новых версий Программы, если обновление/установка новой версии
                Программы не сопровождается иным лицензионным соглашением.
                <h3>7. Изменения условий настоящей Лицензии</h3>

                7.1. Настоящее лицензионное соглашение может изменяться Правообладателем в одностороннем порядке.
                Уведомление Пользователя о внесенных изменениях в условия настоящей Лицензии публикуется на странице:
                https://yandex.ru/legal/punto_agreement/. Указанные изменения в условиях лицензионного соглашения
                вступают в силу с даты их публикации, если иное не оговорено в соответствующей публикации.
            </div>
            <md-input-container class="md-block">
                <label>Номер 1</label>
                <input required type="number" step="any"
                       name="number11" indexOfTab="0" ng-model="fCtrl.data.t1.number1" min="10"
                       max="100"/>

                <div ng-messages="vForm.number11.$error" multiple md-auto-hide="false">
                    <div ng-message="required">
                        Введите номер 1
                    </div>

                    <div ng-message="min">
                        Номер не должен быть меньше 10
                    </div>
                    <div ng-message="max">
                        Номер не должен привышать 100
                    </div>
                </div>
            </md-input-container>
        </md-tab>

        <md-tab name="tab2" flex label="Второй таб">
            <md-input-container class="md-block">
                <label>Строка 1 </label>
                <input md-maxlength="20" required name="string21" indexOfTab="1" ng-model="fCtrl.data.t2.string1"/>
                <div ng-messages="vForm.string21.$error">
                    <div ng-message="required">Поле Строка1 обязательна</div>
                    <div ng-message="md-maxlength">Строка1 должна содержать не более 20 символов</div>
                </div>
            </md-input-container>


            <div class="md-subhead">
                <h2>Лицензионное соглашение (Россия)</h2>

                Настоящий документ «Лицензионное соглашение на использование программных продуктов и/или онлайн-сервисов
                2ГИС» представляет собой предложение Общества с ограниченной ответственностью «ДубльГИС» (далее —
                «Правообладатель») заключить соглашение на изложенных ниже условиях.

                Перед использованием программных продуктов и/или онлайн-сервисов 2ГИС, пожалуйста, ознакомьтесь с
                условиями настоящего лицензионного соглашения.

                1. Общие положения

                1.1. Пользуясь программными продуктами и/или онлайн-сервисами 2ГИС, Вы соглашаетесь с тем, что:

                а) Вы ознакомились с условиями настоящего Соглашения в полном объеме до начала использования Программных
                продуктов и/или Онлайн-сервисов 2ГИС.

                б) Начало использования Вами Программных продуктов и/или Онлайн-сервисов 2ГИС в любой форме означает,
                что Вы принимаете все условия настоящего Соглашения в полном объеме без каких-либо изъятий и ограничений
                с Вашей стороны. Использование программных продуктов и/или Онлайн-сервисов 2ГИС на иных условиях не
                допускается.

                в) Если Вы не согласны с условиями настоящего Соглашения или не имеете права на его заключение, Вам
                следует незамедлительно прекратить любое использование Программных продуктов и/или Онлайн-сервисов 2ГИС.

                г) Соглашение (в том числе любая из его частей) может быть изменено Правообладателем без какого-либо
                специального уведомления. Новая редакция Соглашения вступает в силу с момента ее размещения на Сайте
                Правообладателя, если иное не предусмотрено новой редакцией Соглашения.

                1.2. Во всем, что не предусмотрено настоящим Соглашением, отношения в связи с использованием
                Онлайн-сервисов 2ГИС регулируются Соглашением об использовании сервисов 2ГИС (http://law.2gis.ru/rules),
                а также Политикой конфиденциальности (http://law.2gis.ru/privacy).

                1.3. Используемые в настоящем Лицензионном соглашении слова и выражения имеют следующие значения, если
                иное прямо не определено далее по тексту:

                а) Лицензия (Соглашение) — настоящее Лицензионное соглашение на использование Программных продуктов
                и/или Онлайн-сервисов 2ГИС.

                б) Онлайн-сервисы 2ГИС — совокупность Программных продуктов 2ГИС и аппаратных средств Правообладателя,
                доступ к которым предоставляется Пользователям с использованием Сайта Правообладателя.

                в) Правообладатель — Общество с ограниченной ответственностью «ДубльГИС», ОГРН 1045401929847, место
                нахождения: 630078, г. Новосибирск, пл. Карла Маркса, д. 7, 13 этаж.

                г) Пользователь — лицо, заключившее настоящее Соглашение с Правообладателем в своем или чужом интересе в
                соответствии с требованиями действующего законодательства и настоящего Соглашения.

                д) Программные продукты 2ГИС — принадлежащие Правообладателю программные комплексы 2ГИС, объединяющие в
                своем составе Цифровые планы и/или Справочники организаций, а также каждая входящая в их состав или
                используемая совместно с ними программа для ЭВМ или база данных в отдельности, а также все последующие
                их обновления и модификации, предназначенные для использования на настольных и карманных персональных
                компьютерах, мобильных телефонах, коммуникаторах, смартфонах.

                е) Справочник организаций — база данных электронного справочника, включающая информацию о наименованиях,
                местонахождении, телефонах, адресах электронной почты и сайтов, видах производимых и реализуемых товаров
                (выполняемых работ, оказываемых услуг) и прочие сведения об организациях и индивидуальных
                предпринимателях, находящихся в пределах определенной территории, совпадающей с границами совмещенного с
                ним Цифрового плана, а также иных организациях по усмотрению Правообладателя.

                ж) Сайт Правообладателя — интернет-сайты, размещенные в доменах по адресу 2gis.ru, flamp.ru, а также
                прочих доменах, входящих в домены 2gis.ru и/или flamp.ru.

                з) Цифровой план — база данных электронной карты, включающая геоинформационные данные о географических
                объектах и населенных пунктах в пределах территории, ограниченной определенными географическими
                координатами.

                и) Коммерческое использование — выходящее за рамки разрешенного по настоящему Соглашению функционального
                применения и/или предоставленных прав на использование фрагментов карт использование Программных
                продуктов и/или Онлайн-сервисов 2ГИС, а также иных Объектов интеллектуальной собственности физическим
                лицом в целях получения дохода (прибыли), а индивидуальным предпринимателем или организацией — в целях
                извлечения предпринимательской выгоды, в том числе их предоставление или обеспечение к ним доступа на
                возмездной основе, т.е. за плату или любое встречное предоставление товаров, работ, услуг, либо с
                одновременным предоставлением товаров, работ, услуг на возмездной основе в том или ином виде.
                Коммерческое использование Программных продуктов и/или Онлайн-сервисов 2ГИС, а также иных Объектов
                интеллектуальной собственности может быть разрешено Правообладателем на основании отдельного соглашения
                с Пользователем.

                к) Пин-код — уникальная последовательность цифр, генерируемая программно-аппаратными средствами
                Правообладателя по запросу Пользователя и предназначенная для обеспечения связи отдельных
                Онлайн-сервисов 2ГИС и/или Программных продуктов 2ГИС, а также их связи с иными программными продуктами,
                сервисам.

                л) Политика конфиденциальности — Политика конфиденциальности, размещенная в сети Интернет по адресу:
                http://law.2gis.ru/privacy.

                2. Исключительные права

                2.1. Программные продукты и Онлайн-сервисы 2ГИС в целом и включаемые в их состав или используемые
                совместно с ними программы для ЭВМ, базы данных, картографические, справочно-информационные и прочие
                текстовые материалы, изображения и иные объекты авторских и/или смежных прав, а равно объекты патентных
                прав, товарные знаки, коммерческие обозначения и фирменные наименования, а также иные части Программных
                продуктов и/или Онлайн-сервисов 2ГИС (независимо от того, входят ли они в их состав или являются
                дополнительными компонентами, и возможно ли их извлечение из их состава и использование самостоятельно)
                в отдельности (далее — «Объекты интеллектуальной собственности»), защищены в соответствии с Частью IV
                Гражданского кодекса Российской Федерации и принадлежат Правообладателю на исключительном праве, если
                иное не указано в уведомлении о правах.

                2.2. Правообладатель сохраняет исключительные права на любые результаты переработки (модификации)
                Объектов интеллектуальной собственности, допускаемые в соответствии с настоящей Лицензией, и вправе в
                любое время отозвать свое разрешение на их использование по своему усмотрению без компенсации каких-либо
                расходов Пользователя на их создание и применение.

                2.3. Уведомление о правах на Объект интеллектуальной собственности размещается на таком Объекте или
                доводится до сведения Пользователя при его предоставлении. Отсутствие уведомления о правах не означает
                отсутствие его правовой защиты или разрешение на его свободное использование.
            </div>

            <md-input-container>
                <label>Дата 1</label>
                <md-datepicker indexOfTab="1" ng-model="fCtrl.data.t2.date1"
                               ng-required="true"
                               name="date21"
                               md-min-date="fCtrl.minDate"
                               md-max-date="fCtrl.maxDate">
                </md-datepicker>

                <div ng-messages="vForm.date21.$error">
                    <div ng-message="valid">Не верный формат даты</div>
                    <div ng-message="required">Поле Дата1 необходимо ввести</div>
                    <div ng-message="mindate">Дата не должна бытть меньше {{fCtrl.minDate | date :
                        "dd.MM.YYYY"}}
                    </div>
                    <div ng-message="maxdate">Дата не должна быть больше {{fCtrl.maxDate | date :
                        "dd.MM.YYYY"}
                    </div>
                </div>
            </md-input-container>
            <div class="md-subhead">
                <h3>2. Исключительные права</h3>

                2.1. Программные продукты и Онлайн-сервисы 2ГИС в целом и включаемые в их состав или используемые
                совместно с ними программы для ЭВМ, базы данных, картографические, справочно-информационные и прочие
                текстовые материалы, изображения и иные объекты авторских и/или смежных прав, а равно объекты патентных
                прав, товарные знаки, коммерческие обозначения и фирменные наименования, а также иные части Программных
                продуктов и/или Онлайн-сервисов 2ГИС (независимо от того, входят ли они в их состав или являются
                дополнительными компонентами, и возможно ли их извлечение из их состава и использование самостоятельно)
                в отдельности (далее — «Объекты интеллектуальной собственности»), защищены в соответствии с Частью IV
                Гражданского кодекса Российской Федерации и принадлежат Правообладателю на исключительном праве, если
                иное не указано в уведомлении о правах.

                2.2. Правообладатель сохраняет исключительные права на любые результаты переработки (модификации)
                Объектов интеллектуальной собственности, допускаемые в соответствии с настоящей Лицензией, и вправе в
                любое время отозвать свое разрешение на их использование по своему усмотрению без компенсации каких-либо
                расходов Пользователя на их создание и применение.

                2.3. Уведомление о правах на Объект интеллектуальной собственности размещается на таком Объекте или
                доводится до сведения Пользователя при его предоставлении. Отсутствие уведомления о правах не означает
                отсутствие его правовой защиты или разрешение на его свободное использование.
                <h3>3. Лицензия</h3>

                3.1. Использование Программных продуктов и/или Онлайн-сервисов 2ГИС разрешается строго на условиях
                настоящей Лицензии. Если Пользователь не принимает условия Лицензии в полном объеме, Пользователь не
                имеет права использовать Программные продукты и/или Онлайн-сервисы 2ГИС в каких-либо целях.
                Использование Программных продуктов и/или Онлайн-сервисов 2ГИС с нарушением (невыполнением) какого-либо
                из условий Лицензии запрещено.

                3.2. Права и способы использования Программных продуктов и/или Онлайн-сервисов 2ГИС, в явном виде не
                предоставленные/ не разрешенные Пользователю по настоящему Соглашению, считаются непредоставленными/
                запрещенными Правообладателем.

                3.3. Использование Программных продуктов и/или Онлайн-сервисов 2ГИС на условиях настоящей Лицензии в
                некоммерческих целях разрешается Пользователю на безвозмездной основе.

                3.4. Правообладатель вправе размещать в Программных продуктах и/или Онлайн-сервисах 2ГИС любые
                информационные и/или рекламные материалы и ссылки на интернет-сайты третьих лиц, а также предоставлять
                право использования Программных продуктов и/или Онлайн-сервисов 2ГИС указанным способом третьим лицам по
                отдельному соглашению.
            </div>

            <md-input-container class="md-block">
                <label>Строка 2 </label>
                <input md-maxlength="20"
                       required
                       name="string22"
                       indexOfTab="1" ng-model="fCtrl.data.t2.string2"/>
                <div ng-messages="vForm.string22.$error">
                    <div ng-message="required">Поле Строка2 обязательна</div>
                    <div ng-message="md-maxlength">Строка2 должна содержать не более 20 символов</div>
                </div>
            </md-input-container>
            <div>
                <h3>4. Права Пользователя</h3>

                4.1. Правообладатель предоставляет Пользователю право использования Программных продуктов и/или
                Онлайн-сервисов 2ГИС на условиях простой (неисключительной) непередаваемой лицензии на территории всех
                стран мира указанными в настоящем разделе способами.

                4.2. Функциональное использование Программных продуктов 2ГИС

                Пользователь вправе применять Программные продукты 2ГИС по их прямому функциональному назначению в
                соответствии с Руководством Пользователя, в целях чего произвести их установку на настольном или
                карманном персональном(-ых) компьютере(-ах), смартфоне(-ах) или других устройствах (далее —
                «Устройства»).

                В соответствии с настоящим пунктом Пользователь вправе произвести установку Программных продуктов 2ГИС
                на неограниченное число Устройств, а также хранить или установить копии Программных продуктов на
                устройстве хранения данных (например, на сервере сети), предназначенном и используемом исключительно для
                установки и работы Программного продукта на других имеющихся компьютерах в пределах локальной сети.

                4.3. Воспроизведение Программных продуктов 2ГИС

                Пользователь вправе воспроизводить Программные продукты 2ГИС, экземпляры которых распространяются
                Правообладателем, в некоммерческих целях на безвозмездной основе на любых Устройствах и прочих видах
                материальных носителей при условии сохранения в неизменном виде комбинации, состава и содержания
                Программных продуктов 2ГИС по сравнению с тем, как они предоставляются и/или рекомендуются для
                использования Правообладателем.

                4.4. Распространение Программных продуктов 2ГИС

                Пользователь вправе распространять Программные продукты 2ГИС посредством передачи их экземпляров,
                воспроизведенных в соответствии с пунктом 4.3 настоящего Соглашения, в некоммерческих целях на
                безвозмездной основе и при соблюдении их целостности, если иное не предусмотрено письменным разрешением
                Правообладателя.

                4.5. Функциональное использование Онлайн-сервисов 2ГИС

                Пользователь вправе использовать Онлайн-сервисы 2ГИС по прямому функциональному назначению на
                неограниченном числе Устройств в соответствии с условиями настоящей Лицензии. По усмотрению
                Правообладателя для использования некоторых Онлайн-сервисов 2ГИС или их дополнительных функциональных
                возможностей может потребоваться принятие Пользователем условий отдельного соглашения.
            </div>

            <md-input-container>
                <label>Дата 2</label>
                <md-datepicker indexOfTab="1" ng-model="fCtrl.data.t2.date2"
                               name="date22"
                               ng-required="true"
                               md-min-date="fCtrl.minDate"
                               md-max-date="fCtrl.maxDate">
                </md-datepicker>

                <div ng-messages="vForm.date22.$error">
                    <div ng-message="valid">Не верный формат даты</div>
                    <div ng-message="required">Поле Дата2 необходимо ввести</div>
                    <div ng-message="mindate">Дата не должна бытть меньше {{fCtrl.minDate | date :"dd.MM.YYYY"}}
                    </div>
                    <div ng-message="maxdate">Дата не должна быть больше {{fCtrl.maxDate | date : "dd.MM.YYYY"}}
                    </div>
                </div>
            </md-input-container>
            <div>
                <h3> 4.6. Использование в сети Интернет ссылок на фрагменты карт с Онлайн-сервисов 2ГИС</h3>

                Пользователь вправе использовать html-ссылки на фрагменты карт с использованием Онлайн-сервиса 2ГИС на
                указанных ниже условиях.

                Чтобы показать расположение нужного здания, достаточно поставить специальную ссылку на Цифровой план из
                Онлайн-сервиса 2ГИС следующего вида:

                <a href="{Адрес ссылки на фрагмент}" target="_blank" title="2gis.ru — Городской информационный сервис">{Текст
                    ссылки, обычно это адрес}</a>
                Чтобы узнать адрес ссылки на фрагмент Цифрового плана, необходимо:

                Зайти на Сайт Правообладателя 2gis.ru.
                Выбрать нужное здание (при этом на карте появится карточка с адресом здания).
                Кликнуть по тексту «Поделиться ссылкой», расположенному в правом нижнем углу карты. Над курсором
                появится окошко с адресом ссылки на выбранный фрагмент.
                По ссылке будет открываться в точности тот же самый фрагмент, который был выбран в момент клика по
                тексту «Поделиться ссылкой». Для удобства пользователей в Онлайн-сервисе 2ГИС предусмотрены: навигация
                по карте, просмотр ближайших остановок, информации о фирмах в зданиях.

                Использование ссылок на Онлайн-сервис 2ГИС является наиболее простым и оперативным вариантом его
                использования и поэтому рекомендуется для сайтов с большим количеством адресов (каталоги компаний,
                новостроек и т.п.). Онлайн-сервис 2ГИС обновляется ежемесячно.

            </div>
            <md-input-container class="md-block">
                <label>Номер 1</label>
                <input required type="number" step="any"
                       name="number21" indexOfTab="1" ng-model="fCtrl.data.t2.number1" min="10"
                       max="100"/>

                <div ng-messages="vForm.number21.$error" multiple md-auto-hide="false">
                    <div ng-message="required">
                        Введите номер 1
                    </div>

                    <div ng-message="min">
                        Номер не должен быть меньше 10
                    </div>
                    <div ng-message="max">
                        Номер не должен привышать 100
                    </div>
                </div>
            </md-input-container>
            <div>
                <h3>4.7. Использование в сети Интернет фрагментов карт из Программных продуктов и/или Онлайн-сервисов
                    2ГИС</h3>

                Пользователь вправе создавать фрагменты карт из Цифровых планов городов путем копирования визуального
                отображения картографических данных, порождаемого Программными продуктами и/или Онлайн-сервисами 2ГИС, а
                также производные таких фрагментов карт (с дополнениями, сокращениями, изменением угла поворота и
                прочими переработками) и доводить их до всеобщего сведения в сети Интернет при условии наличия подписи к
                каждому из фрагментов с указанием источника заимствования и активной ссылки на сайт www.2gis.ru
                приведенного ниже вида:

                <a href="http://www.2gis.ru" target="_blank" title="2ГИС — Городской информационный сервис">&copy; 2ГИС
                    — Городской информационный сервис</a>
            </div>
            <md-input-container class="md-block">
                <label>Номер 2</label>
                <input required type="number" step="any"
                       name="number22" indexOfTab="1" ng-model="fCtrl.data.t2.number2" min="10"
                       max="100"/>

                <div ng-messages="vForm.number22.$error" multiple md-auto-hide="false">
                    <div ng-message="required">
                        Введите номер 1
                    </div>

                    <div ng-message="min">
                        Номер не должен быть меньше 10
                    </div>
                    <div ng-message="max">
                        Номер не должен привышать 100
                    </div>
                </div>
            </md-input-container>
        </md-tab>
        <md-tab name="tab3" flex label="Результат формы">
            <pre>
                Результат = {{fCtrl.resData | json}}
            </pre>
        </md-tab>
    </md-tabs>
</form>